body{
    background-color:darkgray;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    max-width: 600px;
    gap: 20px;

}
.conversor{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    border: solid 3px green;
    border-radius: 5px;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    
}
.titulo{
    text-transform: capitalize;
    color: red;
    font-size: 1.25rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.titulo_dos{
    text-transform: capitalize;
    color: blue;
    font-size: 1.25rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
